.title {
    font-size: 600px;
    color: #ED802D;
    line-height: 1em;
    font-weight: bold;
    position: relative;
    word-spacing: 0.45em;
}

.title  img {
    height: 0.70em;
    position: absolute;
    top: 0.15em;
    left: 0.37em;
}