.title {
    font-size: 600px;
    color: #ED802D;
    line-height: 1em;
    font-weight: bold;
    position: relative;
    word-spacing: 0.45em;
    user-select: none;
}

.title  img {
    height: 0.70em;
    position: absolute;
    top: 0.15em;
    left: 0.37em;
    animation-name: fade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}